.profile {
  flex-grow: 1;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.profile__content {
  max-width: 1015px;
  width: 100%;
}
.profile__content-header {
  display: flex;
  margin: 0 0 16px 0;
  height: 58px;
  align-items: center;
}

.profile__content-header_text {
  margin: 0;
}

.profile__content-header_button {
  color: rgba(0, 0, 0, 0.6);
  border: none;
  margin-left: 20px;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
}

.profile__content-header_button:hover {
  cursor: pointer;
  opacity: 70%;
}

@media screen and (max-width: 755px) {
  .profile {
    flex-direction: column;
    margin-top: 4px;
    justify-content: flex-start;
  }

  .profile__sidebar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px 0 20px 0;
  }

  .profile__content-header {
    justify-content: space-between;
  }
}
