.profile {
  flex-grow: 1;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.profile__content {
  max-width: 1015px;
  width: 100%;
}
.profile__content-header {
  display: flex;
  margin: 0 0 16px 0;
  height: 58px;
  align-items: center;
}

.profile__content-header_text {
  margin: 0;
}

.profile__content-header_button {
  color: rgba(0, 0, 0, 0.6);
  border: none;
  margin-left: 20px;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
}

.profile__content-header_button:hover {
  cursor: pointer;
  opacity: 70%;
}
