.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  margin: 0;
  padding: 0;
  gap: 20px;
}

.item-card {
  position: relative;
  list-style-type: none;
}

.item-card__title {
  position: absolute;
  display: flex;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 1);
  font-size: 16px;
  text-align: center;
  align-items: center;
  height: 24px;
  border-radius: 4px;
  margin: 0;
  padding: 2px 12px;
}

.item-card__image {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transition: box-shadow 0.2s ease-in-out;
  max-width: 323px;
}

.item-card__image:hover {
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 755px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 164px);
    gap: 15px;
  }

  .item-card__image {
    max-width: 164px;
    height: 164px;
  }
  .item-card {
    max-width: 164px;
    height: 164px;
  }

  .item-card__title {
    top: 7px;
  }
}
