.main {
  flex-grow: 1;
  margin: 0 auto;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  margin: 0;
  padding: 0;
  gap: 20px;
}
.cards__text {
  margin: 0 0 40px 0;
}

@media screen and (max-width: 755px) {
  .cards__text {
    margin: 0 0 20px 0;
  }
}
